./code/key/*
.env
data/*.csv
dump/
data-crawling/
src/glove/*.txt
data/

data-crawling/code/*.docx
data-crawling/hasil crawling terpisah tanggal/
data-crawling/hasil crawling tersatu/
data-crawling/test.ipynb