./code/key/*
.env
dump/
data-crawling/
src/glove/*.txt


research/*.csv
research/*json
research/*xlsx


data-crawling/code/*.docx
data-crawling/hasil crawling terpisah tanggal/
data-crawling/hasil crawling tersatu/
data-crawling/test.ipynb